@keyframes startup{
    0%{
       transform: scale(1.8);
    }
    25%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1.2);
    }
    100{
        
    }
}
@keyframes startupTwo{
    0%{
        opacity: 0;
        transform: scale(1.8);
    }
    25%{
        opacity: 1;
        transform: scale(1.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes startupThree{
    0%{
        opacity: 0;
        transform: scale(1.8);
    }
    25%{
        opacity: 0;
        transform: scale(1.5);
    }
    50%{
        opacity: .3;
        transform: scale(1.2);
         padding-top: 2rem;
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 0.6;

    }
}

@keyframes startupFour{
    0%{
        opacity: 0;
        transform: scale(1.8);
    }
    25%{
        opacity: 0;
        transform: scale(1.5);
    }
    50%{
        opacity: 0;
        transform: scale(1.4);
    }
    75%{
        opacity: .2;

    }
    100%{
        opacity: .7;
    }
}
@keyframes startupFive{
    0%{
        opacity: 0;

    }
    80%{
        opacity: 0.1;

    }
   
    100%{
        
        opacity: 1;
    }
}


@keyframes startupBanner{
    0%{
        width: 100%;
        opacity: 0;
    }
    80%{
        width: 50%;
        opacity: 0.8;
    }
    90%{
        width: 50%;
        opacity: 0.9;
    }
}

@keyframes startupInfo{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.8;
    }
    90%{
        opacity: 1;
    }
}














